h3 {
    color: #606060;
}

a{
    text-decoration: none;
    color: black;
}

#dummy{
    display: flex;
    align-items: center;
}

#dummy-heading{
    flex: 0.9;
}
#dummy-close{
    flex: 0.1;
    text-align: right;
    font-size: 30px;
}

#dummy-close:hover{
    cursor: pointer;
    color: darkslategray;
}