courses{
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}


courseid,
coursename{
    display: inline;
    font-size: 38px;
    color: purple;
}

coursename{
    margin-left: 10px;
}

topicname,
department,
courseurl,
facultyid{
    display: block;
    margin-bottom: 10px;
    color: royalblue;
}

topicname{
        margin-top: 10px;
}

course{
    margin: 30px;
    padding: 20px;
    border: solid white 1px;
    background-color: white;
    border-radius: 20px;
}

course:hover{
    transform: scale(1.1);
    background-color: whitesmoke;
    cursor: pointer;
}

course{
    border-top: solid darkslategray 1px;
    padding-top: 30px;
}

/* courseid
coursename
topicname
department
courseurl
facultyid */