h4 {
    font-size: 20px;
    color: black;
}

#preview-video{
    width: 550px;
    height: 310px;
} 

.resource-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.child{
    flex: 0.5;
    margin-right: 5px;
}