body {
	margin: 0;
	padding: 20px;
}

.quiz{
	margin-top: 50px;
}

.startquizbutton{
	margin-bottom: 10px;
	float: right;
}

.centerContainer {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.cardList {
	flex-basis: 60em;
}

.topicList {
	padding: 5px;
	flex-basis: 20em;
	border: 1px solid gray;
}

.card {
	border-top: 0.5px solid lightgray;
	padding-top: 4px;
	display: flex;
	cursor: pointer;
	transition: 0.4s;
}

.cardImg {
	max-width: 250px;
	width: 100px;
	height: 100px;
}

.cardImg img {
	width: inherit;
	height: inherit;
	border-radius: 10px;
	object-fit: cover;
}

.cardData {
	margin-left: 5px;
	padding: 20px;
}

.cardTitle {
	font-size: 20px;
}

.cardSubTitle {
	font-style: italic;
}

.cardTime {
	color: dimgray;
	font-style: italic;
}

.pin-ed-adjust {
	margin-top: 8px;
}

.questiondiv {
	margin: 30px;
}

.btn-submit-quiz{
	position: absolute;
	left: 45%;
}

.filtercontainer{
	margin-top: 50px;
}